<div class="row">

<div style="background-color: rgba(30, 115, 229, 0.07);" class="col-sm-6 col-sm-offset-3">
  <div style="margin: 50px">
    
    <div class="">
      <div class="baml_header">
          <div role="heading" aria-level="2">Ashtead, England</div>
          <div role="heading" aria-level="2">UPDATED 2 DECEMBER, 12:00</div>
      </div>
    </div>

    <div class="baml_header">
        <div role="heading" aria-level="2">Sunny Icon</div>
        <div role="heading" aria-level="2">Mostly Sunny . Sat 2, 15:52</div>
    </div>
    <div class="row">
      <div class="col-sm-3">The Icon</div>      
      <div class="col-sm-3">Tempreture</div>      
      <div class="col-sm-6">
          <div>
              <p>Preciptiation: 10%</p>
              <p>Wind: 5KMPH</p>
              <p>Humidity: 80%</p>
            </div>
       </div>      
    </div>
    <div class="baml_header">
        <div role="heading" aria-level="2">Mostly Sunny . Sat 2, 15:52</div>
    </div>
     <div class="row" >
        <div>
          <table class="table">
              <tr>
                  <th>14:00</th>
                  <th>17:00</th>
                  <th>20:00</th>
                  <th>23:00</th>
                  <th>01:00</th>
                  <th>03:00</th>
                  <th>06:00</th>
                  <th>09:00</th>
                </tr>
          </table>
          <input type="range" min="0" max="1440" value="0" step="1" aria-label="Time" aria-valuetext="12:34, 9°, Precipitation: 20%"/>
        </div>
    </div>
       
    <table class="table">
        <tbody>
          <tr>
            <td> Cloudy</td>
            <td class="text-center"><span class="label label-primary">6 Ferenheit</span></td>
            <td>
              <div>
                <p>Preciptiation: 10%</p>
                <p>Wind: 5KMPH</p>
                <p>Humidity: 80%</p>
              </div>
            </td>
          </tr>
          <tr>
            <td> Quoted Poliies Recieved
            </td>
            <td class="text-center"><span class="label label-primary">270</span></td>
          </tr>
          <tr>
            <td> Cancelled Policies Recieved
            </td>
            <td class="text-center"><span class="label label-warning">3</span></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>
</div>